{% extends "base.html.twig" %}

{% block title %}{{post.title}}{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
    <div class="alert alert-success alert-dismissible">{{message}}</div>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
{% endfor %}
    <div class="container-fluid col-md-6 mb-3">
        <article class="card border-dark">
            <div class="card-header d-flex justify-content-between">
                <small class="text-muted">{{post.createdAt | date('m/d/y H:i')}} {{post.author.email}}</small>
                <span class="badge bg-info">{{post.category.name}}</span>
            </div>
            <div class="card-body">
                    <h4 class="card-title">{{post.title}}</h4>
                    {% if post.image is empty %}
                        <img class="img-fluid rounded mb-2" src="https://www.placecage.com/g/600/400" alt="placeholder image" >
                    {% else %}
                        <img src="{{vich_uploader_asset(post, 'imageFile')}}" alt="{{post.image}}" class='img-fluid rounded mb-2'>
                    {% endif %}
                <p class="card-text">{{post.content}}</p>
                <div class="container-fluid d-flex justify-content-between">
                    <div>
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                        <span>{{post.comments|length}}</span>
                    </div>
                    <div>
                        <a href={{path('post_like', {'id' : post.id})}} class="js-like">
                            {% if app.user and post.isLikedByUser(app.user) %}
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            {% endif %}
                            <span class="js-likes">{{post.likes|length}}</span>
                        </a>
                    </div>
                </div>
            </div>
            {% if post.comments is not empty  %}
                <ul class="list-group list-group-flush">
                {% for comment in post.comments %}
                    <li class="list-group-item">
                        <span class="text-muted">{{comment.author.getEmail()}}</span>
                        <small class="test-muted">{{comment.createdAt|date('m/d/y H:i')}}</small>
                        <p>{{comment.content}}</p>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if app.user %}
                {{ form_start(commentForm) }}
                    {{form_errors(commentForm)}}
                    <div class="container-fluid form-group">
                        {{form_row(commentForm.content, {'label': 'Comment'})}}
                    </div>
                    <div class="d-grid gap-2">
                        <button  type="submit" class="btn btn-lng btn-secondary mt-2 ">Comment</button>
                    </div>
                {{form_end(commentForm)}}
            {% endif %}
        </article> 
    </div>
{% endblock %}
