{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

{# {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-message">{{message}}</div>
    {% endfor %}
{% endfor %} #}



<div class="container-fluid col-md-6">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    
    <div class="form-group">
        <h1 class="title">Welcome to the Sblog</h1>
        <h2 class="form-label mt-4">Please Register</h2>

        <div autocomplete="false">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword)}}
                <div class="d-grid gap-2">
                    <button  type="submit" class="btn btn-lng btn-secondary mt-2 ">Register</button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
    <p class="text-info">Already registered ? <a href="{{path('app_login')}}">Click here</a></p>
</div>
{% endblock %}
